.main {
  overflow: hidden;
  background-image: url("../assets/img/main_bg.png");
  background-position: top center; /* по вертикали - вверх, по горизонтали - центр */
  background-size: cover;
}

.header {
  padding: 40px 0;
}

.header .container {
  display: flex;
  align-items: center;
}
.header__menu {
  margin-left: 191px;
}
.header__menu-list {
  list-style-type: none;
  display: flex;
}
.header__menu-list-item {
  margin-right: 88px;
}
.header__menu-list-item a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.header__menu-list-item a:hover {
  border-bottom: 2px solid white;
}
.currency {
  width: 45px;
  height: 45px;
  border: 1px solid #ffffff;
  padding: 12px 0px 12px 0px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  user-select: none; /* Чтобы нельзя было выделять текст */
}
.logo img {
  vertical-align: bottom;
}

.main-content {
  padding: 100px 0px 200px 0px;
}
.main-content .container {
  position: relative;
}
.main-info {
  max-width: 608px;
}
.main-small-info {
  border-radius: 100px;
  background-color: #d3320f;
  padding: 12px 16px;
  display: inline-block;
  font-size: 18px;
}

.main-text {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 56px;
}
.main-img {
  position: absolute;
  top: -123px;
  left: calc(100% - 991px);
}

.why {
  background-image: url("../assets/img/whybg.png");
  background-position: top center;
  background-size: initial;
  padding-bottom: 180px;
  background-repeat: no-repeat;
}
.why-title {
  font-size: 64px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: Merriweather;
  text-align: center;
  letter-spacing: 1.92px;
  padding-bottom: 60px;
}
.why-items {
  gap: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.why-item {
  text-align: center;
}
.why-item-title {
  font-size: 24px;
  line-height: 29px;
  padding: 24px 0;
}
.why-item-text {
  font-size: 16px;
  line-height: 140%;
}

.products {
  background-image: url(../assets/img/burgers_bg.png);
  background-position: top center;
  background-size: 1400px;
  padding-bottom: 180px;
  background-repeat: no-repeat;
  background-size: auto;
}

.products-title {
  font-size: 64px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: Merriweather;
  text-align: center;
  letter-spacing: 1.92px;
  padding-bottom: 60px;
}
.products-items {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 24px;
}
.products-item {
  padding: 30px;
  background-color: #211a16;
  border-radius: 16px;
  border: 1px solid #353535;
}
.products-item-img {
  height: 250px;
}
.products-item-img img {
  max-width: 100%;
  transition: all 0.5s ease;
}
.products-item-img img:hover {
  transform: scale(1.1); /* Enlarge picture by 10 per cent */
}
.products-item-title {
  font-size: 24px;
  line-height: 29px;
  padding: 24px 0;
}
.products-item-text {
  font-size: 16px;
  line-height: 140%;
  font-weight: 600;
  margin-bottom: 24px;
}
.products-item-extra {
  display: flex;
  justify-content: space-between;
}
.products-item-price {
  font-size: 32px;
  line-height: normal;
  margin-bottom: 8px;
}
.products-item-weight {
  font-size: 16px;
  line-height: 18px;
  color: #757575;
}

.button.product-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 62px;
}

.button.product-button span:first-child {
  margin-right: 10px;
}

.order {
  background-image: url("../assets/img/order_bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 180px;
  overflow: hidden;
}

.order .container {
  position: relative;
}

.order-img {
  position: absolute;
  top: 0;
  right: calc(100% - 764px);
  z-index: -1;
}
.order-form {
  background: #211a16;
  border: 1px solid #353535;
  border-radius: 16px;
  max-width: 426px;
  box-sizing: border-box;
  padding: 60px 40px;
  margin-left: 674px;
}
.order-form-text {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding-bottom: 40px;
}
.order-form-inputs {
  display: flex;
  flex-direction: column;
}

.order-form-input {
  background: linear-gradient(95.61deg, #da8023 0%, #e2b438 100%);
  width: 344px;
  height: 62px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-form-input.error {
  background: red;
}
.order-form-input input {
  padding: 20px 10px;
  background: #211a16;
  border-radius: 8px;
  width: 342px;
  height: 60px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid transparent;
  color: white;
}
.order-form-button {
  width: 344px;
  height: 62px;
}

.footer {
  padding: 60px 0;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-rights {
  font-size: 16px;
  line-height: 29px;
}

/* .loader { -- For lottie-player
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #191411;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-out;
} */

/* .loader lottie-player { // Also lottie-player
  display: block;
  width: 300px;
  height: 300px;
} */

.loader.showed {
  opacity: 1;
}
@media screen and (max-width: 1225px) {
  .main,
  .products,
  .order {
    background: none;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header .container {
    flex-wrap: wrap;
    max-width: 420px;
    justify-content: center;
  }

  .header .logo {
    order: 1;
  }

  .header__menu {
    margin: 20px 0;
    order: 3;
    flex-basis: 100%;
  }

  .header__menu ul {
    /*там другой класс*/
    justify-content: space-between;
  }

  .header__menu-list-item {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
  }

  .currency {
    margin-left: 20px;
    order: 2;
  }

  .main-img {
    z-index: -1;
    opacity: 0.4;
  }

  .why-items {
    grid-template-columns: auto;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .products-items {
    grid-template-columns: repeat(auto-fill, minmax(290px, 384px));
    justify-content: center;
  }

  .products-item {
    padding: 15px;
  }

  .products-item-image {
    height: auto;
  }

  .order {
    padding-bottom: 20px;
  }

  .order-img {
    width: 800px;
  }

  .order-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 426px;
    width: auto;
    padding: 20px;
  }

  .order-form-input {
    max-width: 100%;
    width: auto;
  }

  .order-form-input input {
    width: calc(100% - 2px);
  }

  .order-form-inputs .button {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 570px) {
  .main-title {
    font-size: 65px;
    margin-top: 20px;
  }

  .common-title {
    font-size: 36px;
    line-height: 46px;
  }

  .footer .container {
    flex-direction: column;
    justify-content: center;
  }

  .footer-rights {
    margin-top: 20px;
  }
}
